{% extends 'baseback.html.twig' %}

{% block body %}





    <h1>Equipment list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom equipment</th>
                <th>Etat equipment</th>
                <th>quantité</th>
                <th>Date don equipment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipment in equipment %}
            <tr>
                <td><a href="{{ path('equipment_show', { 'id': equipment.id }) }}">{{ equipment.id }}</a></td>
                <td>{{ equipment.nomEquipment }}</td>
                <td>{{ equipment.etatEquipment }}</td>
                <td>{{ equipment.nbEquipment }}</td>
                <td>{% if equipment.dateDonEquipment %}{{ equipment.dateDonEquipment|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('equipment_show', { 'id': equipment.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('equipment_edit', { 'id': equipment.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('equipment_new') }}">Create a new equipment</a>
        </li>
        <li>
            <a href="{{ path('equipment_imp') }}">imprimer les equipement</a>
        </li>
    </ul>
    {{ knp_pagination_render(equipment) }}









    <body>




    </body>
    </body>



{% endblock %}
