{% extends 'base.html.twig' %}

{% block body %}
    {% include 'smalBanner.html.twig' %}
    <h1>Equipment</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Id</th>
                <td>{{ equipments.id }}</td>
            </tr>
            <tr>
                <th>Nomequipment</th>
                <td>{{ equipments.nomEquipment }}</td>
            </tr>
            <tr>
                <th>Etatequipment</th>
                <td>{{ equipments.etatEquipment }}</td>
            </tr>
            <tr>
                <th>quantité</th>
                <td>{{ equipments.nbEquipment }}</td>
            </tr>
            <tr>
                <th>Datedonequipment</th>
                <td>{% if equipments.dateDonEquipment %}{{ equipments.dateDonEquipment|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>

        <li>
            <a href="{{ path('equipment_edit', { 'id': equipments.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}
