{% extends 'base.html.twig' %}

{% block body %}
    {% include 'smalBanner.html.twig' %}
    <h1>Service</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Nomservice</th>
                <td>{{ service.nomService }}</td>
            </tr>
            <tr>
                <th>Descriptionservice</th>
                <td>{{ service.descriptionService }}</td>
            </tr>
            <tr>
                <th>Datedon</th>
                <td>{% if service.dateDon %}{{ service.dateDon|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>

        <li>
            <a href="{{ path('service_edit', { 'id': service.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
