
{% extends 'base.html.twig' %}

{% block body %}
    {% include 'largeBanner.html.twig' %}

    <div class="listing-section content-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="sidebar-right">
                        <!-- Advanced search start -->
                        <div class="widget-4 advanced-search">
                            <form method="GET" class="informeson">
                                <div class="form-group">
                                    <label>Keywords</label>
                                    <input type="text" name="search" class="form-control selectpicker search-fields" placeholder="Search Keywords">
                                </div>
                                <div class="form-group">
                                    <button class="btn button-theme btn-search btn-block b-radius">
                                        <i class="fa fa-search"></i><strong>  Find Ad</strong>
                                    </button>

                                </div>


                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <!-- Option bar start -->
                    <div class="option-bar d-none d-xl-block d-lg-block d-md-block d-sm-block">
                        <div class="row">
                            <div class="col-lg-6 col-md-7 col-sm-7">
                                <div class="sorting-options2">
                                    <span class="sort">Sort by:</span>
                                    <select class="selectpicker search-fields" name="default-order">
                                        <option>Relevance</option>
                                        <option>Newest</option>
                                        <option>Oldest</option>
                                        <option>Random</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Emplayer box start -->
                    {% for annonce in annonces %}
                    <div class="employer-box">
                        <div class="employer-photo">
                            <a href="#">

                                {%  if 	annonce.posteur.imageUrlUser==null %}
                                    <img src="{{ asset('front/img/user.png') }}" >

                                {% else %}
                                    <img src="{{ annonce.posteur.imageUrlUser }}" >

                                {% endif %}
                                <h6>{{annonce.posteur.username }}</h6>
                            </a>
                        </div>
                        <div class="employer-info">
                            <h5><a href="{{ path('showDetails', {id: annonce.id}) }}" >{{annonce.titreAnnonce}} </a></h5>
                            <div class="employer-meta">
                            </div>
                            {{annonce.descriptionAnnonce[:140]}}...
                            <p></p>
                        </div>
                    </div>

                    {% endfor %}
                    <!-- Page navigation start
                    <div class="pagination-box hidden-mb-45 text-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="grid-sidebar.html">Prev</a>
                                </li>
                                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>-->
                </div>
            </div>
        </div>
    </div>


{% endblock%}



